@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Roboto bold. */
    @font-face {
        font-family: "Roboto-Bold";
        src: url("./../public/font/Lato-Bold.ttf") format("truetype");
        font-weight: 800;
        font-display: swap;
    }
    /* Roboto medium. */
    @font-face {
        font-family: "Roboto-Medium";
        src: url("./../public/font/Oswald-Regular.ttf") format("truetype");
        font-weight: 600;
        font-display: swap;
    }
    /* Roboto regular. */
    @font-face {
        font-family: "Roboto-Regular";
        src: url("./../public/font/Lato-Regular.ttf") format("truetype");
        font-weight: 400;
        font-display: swap;
    }

    :root {
        /* background colors */
        --custom-200: #e5e7eb;
        --custom-300: #d1d5db;
        --custom-400: #9ca3af;
        --custom-500: #6b7280;
        --custom-600: #4b5563;
        --custom-700: #374151;
        --custom-800: #1f2937;
        --custom-900: #111827;
        --custom-950: #030712;

        --background: #faf2f3;
        --primary: #cf3c4f;
        --secondary: #ee8895;
        --accent: #f65166;
    }

    * {
        @apply m-0 box-border select-none scroll-smooth p-0 focus-visible:outline-none;
    }

    body {
        @apply relative min-h-screen bg-slate-900 font-roboto-regular text-lg text-black;
    }
}

@layer components {
    p {
        @apply leading-[2rem];
    }
    h1 {
        @apply text-4xl font-extrabold;
    }
    button,
    a {
        @apply focus-visible:scale-105 focus-visible:transform focus-visible:opacity-90 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:transition-all focus-visible:duration-500;
    }
}
